#content-wrapper { 
	position: relative;
	height: 670px; 
} 

/********** Member **********/
aside {
	position: absolute;
	width: 270px;
	height: 270px;
	right: 50px;
	top: 50px;
	border: 1px solid white;
	border-radius:5px;
	z-index: 100;
}

input[type=radio]:nth-of-type(1) {display:none;}
input:nth-of-type(1) ~ div:nth-of-type(1){display:none;}
input:nth-of-type(1):checked ~ div:nth-of-type(1) {display:block}
input:nth-of-type(1):checked ~ div:nth-of-type(1) {border:none} 

input[type=radio]:nth-of-type(2) {display:none;}
input:nth-of-type(2) ~ div:nth-of-type(2){display:none;}
input:nth-of-type(2):checked ~ div:nth-of-type(2) {display:block;}
input:nth-of-type(2):checked ~ div:nth-of-type(2) {border:none;} 

section.buttons{overflow:hidden;}
section.buttons > label{
	/*수평정렬*/
	display:block; float:left;
	/*크기 및 글자 위치 지정*/
	width:135px; heigth:30px;
	line-hegiht:30px;
	text-align:center;
	/*테두리 지정*/
	box-sizing:border-box;
	border:3px solid black;
	border-radius:5px;
	/*색상 지정*/
	background:white;
	color:#003973;
}

input:nth-of-type(1):checked ~ section.buttons > label:nth-of-type(1){
		background-color: #ffcc99; 
		color:black;
}

input:nth-of-type(2):checked ~ section.buttons > label:nth-of-type(2){
		background-color: #ffcc99; 
		color:black;
}	

/* 로그인 성공 시 스타일 적용 부분 */
div#loginSuccess {
	position: absolute;
	width: 270px;
	height: 270px;
	right: 50px;
	top: 50px;
	border: 2px solid orange;
	text-align: center;
	font-size: 20px;
	width: 155px;
	height: 60px;
	padding: 10px;
	background-color: #FFFFEB;
	z-index: 101;
}

div#loginSuccess > p {
	margin-bottom: 13px;
}

div#loginSuccess > a {
	font-size:12pt;
}

p#signupbtn {
	margin: auto;
}

/* <a> 태그 버튼으로 변경 */
a.button {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	
}
a#signInButton{
	padding:9px 90px;
}
a#joinButton{
	padding:4px 8px;
}
a#resetButton{
	padding:4px 17px;
}
/* 링크 속성 변경 */
a:link {
	color: black; text-decoration: none;
}

a:visited {
	color: balck; text-decoration: none;
}

a:hover {
	color: balck; text-decoration: none;
}

div#right_item {
	background:white;
	height: 243px;
	
}
div#right_item input.joinInput{
	background: lightyellow;
	border-radius:4px;
	padding:5px;
	
}
div#left_item input.loginInput {
	border-radius: 8px;	
	padding: 10px 30px;
	font-size: 15px;
	width: 205px;
	background: lightyellow;
}


/********** SLIDER **********/
.slider {
  max-width: 960px;
  margin: 0px auto 30px auto;
}

.slide-viewer {
    position: relative; /* needed for IE7 */
    overflow: hidden;
    height: 360px;
}

.slide-group {
    width: 100%;
    height: 100%;
    position: relative;}

.slide {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;}

.slide:first-child {
    display: block;}


/**********Slide BUTTONS **********/
.slide-buttons {
  text-align: center;
 }

.slide-btn {
  border: none;
  background: none;
  color: #000;
  font-size: 200%;
  line-height: 0.5em;
}

.slide-btn.active, .slide-btn:hover {
  color: #ed8e6c;
  cursor: pointer;}

/********** Index Box **********/
div#annmnt_box {
	position: absolute;
	left: 50px; bottom: 50px;
	width: 450px;
	height: 200px;
	text-align: center;
	border: 1px solid white;
}
div#consult_box {
	position: absolute;
	right: 50px; bottom: 50px;
	width: 350px;
	height: 200px;
	text-align: center;
	border: 1px solid #6d6d6d;
}


/********** MiniGallery***********/
div#bgcolor {
	background: #e2fef4;
	width: 450px;
	height:200px;
}
h1#gTitle {
	text-align: center;
	color: #828282;
	font-size: 23px;
}
ul#banner {
	padding: 0;
	width: 250px;
	height: 150px;
	position: relative;	
}
ul#banner > li {
	list-style: none;
	margin-left: 100px;
	border: 0px solid green;
	width: 250px;
	height: 150px;
	position: absolute;
	top: 0px; 
}
ul#banner > li:nth-child(12) {
	box-shadow: 0 5px 35px rgba(0,0,0,.80);
}