@CHARSET "EUC-KR";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/*  Init  */
* { margin:0; padding: 0; }
html, body {
	height: 100%; 
}

#page {
	height: 100%;
	height: auto !important;
	min-height: 100%;
}

#sticky-footer-wrap {
	overflow: auto;
	padding-bottom: 100px;
	margin: 0 auto;
}
ul,ol,li { list-style: none; }
a.main { 
	text-decoration: none; 
	color: #fff;
	font-weight: bold;	
}
img { border: 0; }

/* Header */
#main_header, #content, footer {
		margin: 0 auto;
}  

header#main_header {
		overflow: hidden;
		width: 960px; magin: 0 auto;
		height: 80px;
		position: relative;
/* 		border: 1px solid green; */
		background: black;
}


/* Global Menu */
.skew50 {
	-webkit-transform: skewX(-50deg);
}

.un_skew50 {
	-webkit-transform: skewX(50deg);	
}

#main_gnb {
	position: relative;
}

/* Global Menu Title */
#menuTitleBox {
	overflow: hidden;
	position: absolute;
	left: -180px;
	width: 330px;
	height: 80px;
	z-index: 100;
	
}

#menuTitleBox > div {
	position: relative;
	width: 500px;
	height: 80px;
	background: black;
}

#menuTitleBox div.title {
	position: absolute;
	top: 10px;
	left: 200px;
	width: 82px;
	height: 80px;
	font-size: 45px;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
}

/* Global Menu List */
#menuListBox {
	overflow: hidden;
	position: absolute;
	margin-left: -33px;
	border-right: 1px solid #2bd3ff;
	background: black; /*black*/
}

#menuListBox #mainMenu {
	display: inline-block;
	position: relative;
	width: 672px;
	vertical-align: top;
}

#menuListBox #mainMenu li {
	display: inline-block;
	position: relative;
	vertical-align: top;
	width: 195px;
	height: 80px;
	line-height: 80px;
	cursor: pointer;
	background: red;
}

#menuListBox #mainMenu .menu1 { background: red; }
#menuListBox #mainMenu .menu2 { background: orange; }
#menuListBox #mainMenu .menu3 { background: yellow; }

#menuListBox #mainMenu li span {
	display: inline-block;
	position: relative;
	width: 117px;
	margin: 0 0 0 36px;
	padding: 10px;
	vertical-align: middle;
	line-height: 15px;
	-webkit-transform: skew(50deg);
	font-family: 'Nanum Gothic', serif;
	font-size: 22px;
}

#menuListBox #mainMenu li span a {
	color: #3b3b3b;
}

#menuListBox #sideMenu {
	overflow: hidden;
	display: inline-block;
	position: relative; 
	margin: 0 0 0 -76px; 
	vertical-align: top; 
	background: lightgreen;
}

#menuListBox #sideMenu > li {
	position: relative;
	width: 120px;
	height: 40px;
	border-top: 2px solid black;	
	border-bottom: 1px solid black;	
	line-height: 34px;
	cursor: pointer;
	box-sizing: border-box;
}
#menuListBox #sideMenu li span {
	display: inline-block;
	position: relative;
	width: 120px;
	margin: 0 0 0 -12px;
	padding: 5px;
	vertical-align: middle;
	line-height: 15px;
	-webkit-transform: skew(50deg);
	font-family: 'Nanum Gothic', serif;
	font-size: 15px;
	text-align: center;
}

#menuListBox #sideMenu li a {
	margin: 0 0 0 10px;
	color: #3b3b3b;
}

#menuListBox #mainMenu li:hover, #menuListBox #sideMenu li:hover {
	background: white;
}
#menuListBox #mainMenu li :hover + a, #menuListBox #sideMenu li:hover + a {
	color: white;
}

/* Open&Close Button */
input#select1, input#select2 {display: none;}

label.headerBtn {
	position: absolute;
	height: 20px;
	width: 198px;
	text-align: center;
	background: #e1e1e1;
	color: #000;
	cursor: pointer;
	line-height: 20px;
	z-index: 1000;
}

label.openBtn {
	top: 0px;
}
label.closeBtn {
	top: 0px;
	background: #282828;
	color: #fff
}

input[type="radio"]:checked + label { 
	background: #000;
	color: white;
	z-index: -100;
}

input.openInput:checked ~ nav#menuListBox {
	left:187px;
}

input.closeInput:checked ~ nav#menuListBox {
	left:-776px;
}

/* Footer */
footer {
	position: relative;
	height: 115px;
	width: 960px;
	margin-top: -100px;
	clear: both;
/* 	border: 1px solid blue; */
	text-align: center;
	background: #d0d3d5;
}

#footer_logo {
	float: left;
	width: 140px;
	height: 100px;
}

#footer_logo > img {
	margin: 10px 0 0 40px;
}

#footer_content {
	float: left;
	height: 100px;
	margin-left: 60px;
}

#footer_content > p {
	font-size: 11px;	
}

div#content {
	position: relative;
	height: 100%;
/* 	border: 1px solid red; */
	width: 960px;
	text-align: center;
}